* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  margin: 0 auto;
}

.header {
  background-color: white;
  color: rgba(39, 76, 91, 1);
  padding-top: 69px;
  padding-bottom: 69px;
}

.header-logo {
  display: flex;
  gap: 19px;

  text-decoration: none;
  color: rgba(39, 76, 91, 1);
}

.header-logo:hover {
  color: rgb(21, 50, 61);
}

.logo-organick {
  width: 36.58px;
  height: 53.72px;
  border: 2px;
}

.organick-text {
  display: flex;
  align-items: end;

  width: 154px;
  height: 45px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0%;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;

  list-style: none;
}

.navigation-item {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;

  color: rgba(39, 76, 91, 1);
}

.navigation-link {
  text-decoration: none;
  color: rgba(39, 76, 91, 1);
}

.navigation-link:hover {
  color: rgb(27, 53, 65);
}

.search {
  display: flex;
  align-items: center;

  border: 1px solid white;
  border-radius: 36px;

  height: 55px;
}

.search-btn_input {
  flex-grow: 0.96;

  height: 100%;
  width: 100px;

  border: none;
  outline: none;
}

.search-btn {
  background-color: rgba(126, 182, 147, 1);

  display: inline-block;
  text-align: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.basket-wrapper {
  display: flex;
  border-radius: 33px;
  border: 1px solid rgba(224, 224, 224, 1);
  gap: 25px;
  align-items: center;
  justify-content: center;

  width: 140px;
}

.basket-btn {
  background-color: white;
  flex-shrink: 0;

  width: 50px;
  height: 50px;

  border-radius: 9999px;
  border: none;
  background-color: rgba(39, 76, 91, 1);
  margin-right: 7px;

  cursor: pointer;
}

.header-btn__actions {
  display: flex;
  gap: 16px;
  justify-content: space-between;

  flex-wrap: wrap;
}

span {
  position: relative;
  right: 12px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header-logo {
    justify-content: center;
    margin-bottom: 15px;
  }

  .header-navigation {
    margin: 15px 0;
  }

  .navigation-list {
    justify-content: center;
  }

  .header-btn__actions {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .search,
  .basket-wrapper {
    margin: 0 5px;
  }

  .search-btn_input {
    height: 100%;
  }
}

@media (max-width: 580px) {
  .header-logo {
    margin: 0 auto;
  }

  .header-navigation {
    margin: 10 auto;
  }

  .navigation-list {
    flex-direction: column;
    gap: 20px;
  }

  .header-btn__actions {
    flex-wrap: wrap;
  }
}

.header-bg {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(39, 76, 91, 1);
  font-size: 30px;
  font-family: Roboto, sans-serif;
  background: url(./image/header_bg.png) no-repeat center/cover;

  height: 450px;
  margin-bottom: 68px;
}

.salad-text__descriptions h2 {
  margin-top: 70px;
  margin-bottom: 8px;
}

.salad-container {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;

  gap: 35px;
}

.salad-text {
  max-width: 675px;
  position: relative;
  top: -35px;
}

.salad-text__descriptions h2 {
  font-family: Yellowtail, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;

  color: rgba(126, 182, 147, 1);
}

.salad-text__title {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-style: Bold;
  font-size: 50px;
  line-height: 100%;

  color: rgba(39, 76, 91, 1);

  margin-bottom: 14px;
}

.salad-block__img {
  display: flex;
  justify-content: space-between;
}

.salad-block__tractor {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(39, 76, 91, 1);

  gap: 15px;
}

.salad-block__tractor img {
  position: relative;
  top: -4px;
}

.salad-block__factory {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(39, 76, 91, 1);

  gap: 15px;
}

.salad-block__factory img {
  position: relative;
  top: -4px;
}

.salad-text__paragraph {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 165%;

  color: rgba(82, 92, 96, 1);
  margin-bottom: 40px;
}

.salad__background {
  width: 950px;
  height: 640px;
  top: 10px;
}

.salad-container img {
  position: relative;
  top: -10px;
}

.salad-text__button {
  margin-top: 58px;

  width: 226px;
  height: 80px;
  border-radius: 16px;

  padding: 28px 39px 29px 39px;
  gap: 10px;
  background-color: rgba(39, 76, 91, 1);

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 100%;

  color: rgba(255, 255, 255, 1);
  border: 0;
}

.salad-text__button img {
  position: relative;
  top: 3px;
  left: 3px;
}
