.grid-container {
  display: grid;
  gap: 10px;

  grid-template-columns: 30%; /* занимает 30% от ширины родителя */
  grid-auto-columns: 50px 100px; /* вторая и последующие колонки занимают ширины по повторяющемуя паттерну - чередуются*/
  grid-auto-flow: column;
}

.grid-element {
  background-color: lightskyblue;
}

.content {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 25% auto 15%;
  grid-template-areas:
    "menu catalog advertisement"
    "menu catalog advertisement"
    "menu catalog ."
    "menu order order";

  gap: 50px;
  /* gap: 30px 50px - сначала значение по горизонтали, затем по вертикали */
}

.menu {
  grid-area: menu;
  background-color: lightskyblue;
}

.catalog {
  grid-area: catalog;
  background-color: lightgreen;
}

.advertisement {
  grid-area: advertisement;
  background-color: palevioletred;
}

.order {
  grid-area: order;
  background-color: cadetblue;
}
