* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #274c5b;
}

.header {
  background-color: #ffffffe5;
  padding-top: 69px;
  padding-right: 162px;
  padding-bottom: 69px;
  padding-left: 162px;
  /* gap: 10px; */
}

.container {
  max-width: 1920px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* gap: 20px; */
}

.organick-logo {
  width: 100px;
  height: auto;
}

.header-btn {
  border: 1px solid rgb(226, 224, 224);
}

.search__btn {
  border-radius: 36px;
  width: 376px;
  height: 66px;
  background-color: white;
  border: 0;

  margin-right: 10px;
}

.cart__btn {
  border-radius: 33px;
  width: 159px;
  height: 66px;
  left: 394px;
  background-color: white;
}

.arrow {
  /* position: relative; */
}

.icon {
  position: relative;
  right: 47px;
  bottom: 15px;
}

.icon-ellipse {
  position: relative;
  right: -165px;
}

.icon-zoom {
  position: relative;
  right: -123px;
  bottom: 17px;
}

.icon_ellipse-buy {
  position: relative;
  left: 3px;
  top: 1px;
}

.cart-count {
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  color: #274c5b;

  position: relative;
  bottom: 21px;
  right: 19px;
}

.navigation-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navigation-link {
  text-decoration: none;
}

.hero-title {
}

.hero__title {
  /* width: 1920px; */
  height: 450px;
}

.about-us__subtitle {
  font-family: Yellowtail, sans-serif;
  font-weight: 400;
  font-style: Regular;

  color: rgba(126, 182, 147, 1);
}

.about-us__image {
  width: 800px;
  height: 750px;
  top: 722px;
  left: -30px;
}

.about-us__heading {
  font-family: Roboto, sans-serif;
  font-weight: 800;
  font-style: extrabold;
  font-size: 50px;
}

.about-us__description {
  margin-top: 14px;

  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
}

.about-us__description-p2 {
  margin-top: 30px;

  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-style: regular;
  font-size: 18px;
}

.about-us__text {
  position: relative;
  top: -118px;
}

.features {
  display: flex;

  position: relative;
  right: -800px;
  top: -310px;
}

.modern-culture {
  font-family: Roboto, sans-serif;
  font-weight: 500px;
  font-style: medium;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(39, 76, 91, 1);
}

.chemical-culture {
  font-family: Roboto, sans-serif;
  font-weight: 500px;
  font-style: medium;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(39, 76, 91, 1);
}

.btn {
  position: relative;
  background-color: rgba(39, 76, 91, 1);
  border-radius: 16px;
  border: 1px solid rgba(39, 76, 91, 1);
}

.explore-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
  padding: 28px 68px 29px 39px;

  top: 130px;
  right: 785px;
}

.aerrow {
  position: relative;
  top: 3px;
}
