.flex-container {
  display: flex;

  background-color: lightskyblue;
  padding: 10px;
  gap: 10px;

  /* Значение по умолчанию:
        flex-wrap: nowrap */
}

.flex-element {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: lightgreen;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
