.box {
  width: 500px;
  height: 500px;
  padding: 50px;
  color: transparent;
  border: 20px dashed salmon;
  font-size: 30px;

  background-image: url("./img/WEo5OH.jpg");
  background-position: center;
  background-size: cover;

  background-clip: text;
  -webkit-background-clip: text;
  /* background-clip - определяет в какой области блочной модели элемента
  будет находится фон, изображение и цвет.
  border-box - зн-е по умолчанию. Фон займёт всю область элемента,
  в том числе залезет под рамку элемента.
  padding-box - фон займёт всю область, но не будет залезать под рамку.
  content-box - фон займёт только контентную область и не будет залезать на рамку, и на область от внутреннего отступа паддинг 
  text - фоновая картинка применяется к тексту. Это значение заработает только если у свойства color, цвета текста, будет значение - transparent*/
}
