.flex-container {
  display: flex;

  background-color: lightskyblue;
  padding: 10px;
  gap: 10px;
  height: 150px;
}

/* 
    Значение по умолчанию:
    align-items: stretch;

*/

.flex-element {
  width: 100px;
  padding: 10px;
  background-color: lightgreen;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}
