/* первый элемент */
/* p:first-child {
  color: red;
} */

/* последний элемент */
/* p:last-child {
  color: lawngreen;
} */

/* выбрать нечётные элементы */

/* p:nth-child(odd) {
  color: blueviolet;
} */

/* выбрать чётные элементы */

/* p:nth-child(even) {
  color: rgb(226, 43, 113);
} */

/* получить доступ к конкретному элементу, например 2му */

/* p:nth-child(2) {
  color: blue;
} */

/* получить доступ к 3-му элементу с конца*/

/* p:nth-last-child(3) {
  color: cadetblue;
} */

/* выбирает каждый 3-ий элемент начиная с 3-го */
/* p:nth-child(3n) {
  color: rebeccapurple;
} */

/* выбрать первые 4-ре элемента */
/* p:nth-child(-n + 4) {
  color: green;
} */

/* выбрать последние 4-ре элемента */
p:nth-last-child(-n + 4) {
  color: green;
}

li:only-child {
  /* выбирает элемент, который является единственным дочерним элементом своего родителя */
  background-color: red;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

/* таким селектором говорим, выбери тултип у которого нет класса is-active, и скрой его */
.tooltip:not(.is-active) {
  display: none;
}
