:root {
  --color-light: #ffffff;
  --color-dark: #171414;
  --color-main: #20855e;
  --color-accent: #ffc67c;
  --color-gray: #fafafa;
  --color--success: #7dbd6d;
  --color-error: #a41b1b;

  --box-shadow-1: 0 0 2px 4px rgb(0 0 0 / 0.5);
  --box-shadow-2: 12 12 2px 2px rgb(0 0 0 / 0.25);

  --font-family-base: "Roboto", sans-serif;
  --font-family-accent: "Montserrat", sans-serif;

  --container-width: 1200px;
  --container-padding-x: 15px;
  --section-gap-y: 80px;

  --transition-timing-function: ease-in;
  --transition-duration: 0.2s;
}
