.box-1 {
  background-color: lightskyblue;
  width: 100px;
  height: 100px;
}

.box-2 {
  background-color: lightpink;
  width: 200px;
  height: 200px;
}

.box-3 {
  background-color: lightgreen;
  width: 50px;
  height: 50px;
}

.box-4 {
  background-color: lightskyblue;
  width: 33%;
  height: 100px;
}

.box-5 {
  background-color: lightpink;
  width: 50%;
  height: 100px;
}

.inner {
  background-color: lightgreen;
  width: 70%;
}

.wrapper {
  height: 200px;
  background-color: pink;
}

.box-6 {
  background-color: lightskyblue;
  height: 50%;
}

h1 {
  font-size: 40px;
}

h1 span {
  font-size: 0.5em;
}

body {
  font-size: 24px;
}

.box-7 {
  width: 4em; /* 24px * 4 = 96px */
  height: 3em; /* 24px * 3 = 72px */
  background-color: aqua;
}

html {
  font-size: 10px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: lightskyblue;
}
