.flex-container {
  display: flex;
  background-color: lightskyblue;
  padding: 10px;
  gap: 10px;
}

.flex-element {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: lightgreen;
}

.justify-content-flex-start {
  /* значение по умолчанию 
     прижимает элементы к началу основной оси */
  justify-content: flex-start;
}

.justify-content-flex-end {
  /* прижимает элементы к концу основной оси */
  justify-content: flex-end;
}

.justify-content-center {
  /* распологает флекс элементы по центру контейнера */
  justify-content: center;
}

.justify-content-space-between {
  /* первый и последний элемент флекс контейнера распологаются
    строго по его краям. А остальные элементы выстраюваются равномерно с одинаковыми отступами друг от друга. */
  justify-content: space-between;
}

.justify-content-space-around {
  /* расстояние между элементами будет одинаковым.
    а расстояние от левого края до первого элемента, и от правого края до последнего элемента, будет равно половине расстояния между элементами. */
  justify-content: space-around;
}

.justify-content-space-evenly {
  /* расстояние между элементами, а также от левого и правого края будет одинаковым */
  justify-content: space-evenly;
}
